/* Fonts import */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700;800;900&display=swap');

/* Global Resets */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button, input {
    appearance: none;
    border: none;
    outline: none;
    background: none;
    color: inherit;
}

button {
    cursor: pointer;
}

/* HueShadow - Colour Palette Generator */

.palette-generator {
    font-family: 'Montserrat', sans-serif;
    background-color: #eee;
}

.palette-container {    
    padding: 4rem 3rem;
}

.palette-heading {
    font-size: 2.25rem;
    font-weight: 900;
    text-transform: uppercase;
    color: rgb(9, 18, 70);
    margin-bottom: 1rem;
}

.palette-colour-toggle {
    color: #5e5e5e;
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.palette-colour-toggle-button {
    font-size: inherit;
    font-weight: 700;
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.4s ease-out;
}

.palette-colour-toggle-button:hover {
    padding: 0 0.5rem;
}

.palette-subheading {
    color: #5e5e5e;
    font-weight: 600;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.palette-colours {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1.5rem;
}

.palette-colour {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border: 5px solid transparent;
    border-radius: 1rem;
    background-color: #FC466B;
    transition: 0.4s ease-out;
    color: white;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
}

.palette-colour.copied {
    border-color: black;
}

.palette-lock-toggle {
    opacity: 0.6;
    transition: 0.4s;
    background-color: #ffffff36;
    padding: 0.5rem;
    border-radius: 1rem;
    transition: 0.4s ease-out;
}

.palette-lock-toggle:hover, .palette-lock-toggle.is-locked:hover {
    transform: scale(1.1);
}

.palette-lock-toggle.is-locked {
    opacity: 1;
}

.palette-lock-toggle > i {
    color: white;
}

.palette-colour-input {
    text-align: center;
    margin: 0.5rem 0;
    background-color: #ffffff59;
    padding: 0.5rem;
    border-radius: 1rem;
}

.palette-copy-hex {
    background-color: #ffffff36;
    padding: 0.5rem;
    border-radius: 1rem;
    transition: 0.4s ease-out;
}

.palette-copy-hex:hover {
    transform: scale(1.1);
}

@media (min-width: 768px) {
    .palette-heading{
        font-size: 3rem;
    }
    .palette-colours {
        grid-template-columns: repeat(2, 1fr);
    }
    .palette-colour{
        flex-direction: column;
    }
    .palette-colour-input {
        text-align: center;
        margin: 2rem 0.5rem;
    }
}

@media (min-width: 1024px) {
    .palette-colours {
        grid-template-columns: repeat(4, 1fr);
    }
    .palette-colour{
        flex-direction: column;
    }
    .palette-colour-input {
        text-align: center;
        margin: 3rem 0.5rem;
    }
}

/* HueShadow - Gradient Generator */

.gradient-generator {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gradient-container {
    width: 40%;
    height: 55vh;
    padding: 2rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0.5rem 2rem 0 rgba(0, 0, 0, 0.4);
}

.gradient-heading {
    text-align: center;
    text-transform: uppercase;
    color: rgb(9, 18, 70);
    margin-bottom: 1rem;
    font-size: 2rem;
}

.gradient-toggle {
    color: #5e5e5e;
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 2rem;
    text-align: center;
}

.gradient-toggle-button {
    font-size: inherit;
    font-weight: 700;
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.4s ease-out;
}

.gradient-toggle-button:hover {
    padding: 0 0.5rem;
}

.gradient-colour-options {
    display: flex;
    margin: 0 auto 2rem;
    width: 40%;
    align-items: center;
    justify-content: space-evenly;
}

input[type="color"] {
    -webkit-appearance: none;
    background-color: transparent;
    width: 5rem;
    height: 3rem;
    cursor: pointer;
}

input[type="color"]::-webkit-color-swatch {
    border-radius: 1rem;
    border: none;
}

.gradient-direction-options {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto 2rem;
}

.gradient-direction-options button {
    height: 2.5rem;
    width: 2.5rem;
    background-color: transparent;
    border: 1px solid #5e5e5e;
    color: #5e5e5e;
    border-radius: 1rem;
    transition: 0.4s ease-out
}

.gradient-direction-options button:hover {
    transform: scale(1.1);
}

.gradient-direction-option-rotate i {
    transform: rotate(45deg);
}

.gradient-direction-options .active {
    border: none;
    background-color: #5e5e5e;
    color: #ffffff;
}

.gradient-generate-button {
    font-family: 'Montserrat', sans-serif;
    background-color: #5e5e5e;
    padding: 1rem;
    font-size: 1rem;
    color: #ffffff;
    font-weight: 700;
    border-radius: 1rem;
    transition: 0.4s ease-out
}

.gradient-generate-button:hover {
    transform: scale(1.1);
}

.gradient-output-container {
    margin-top: 2rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    color: #ffffff;
}

.gradient-output-code-label {
    padding-left: 1rem;
    padding-bottom: 0.25rem;
    font-weight: 600;
}

.gradient-output-code {
    font-family: 'Montserrat', sans-serif;
    width: 90%;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    word-wrap: break-word;
    font-weight: 500;
    border-left: 3px solid #ffffff;
    border-radius: 0.5rem;
    background-color: rgba(0,0,0,0.1);
    cursor: pointer;
}

#gradient-output-code-copied {
    color: green;
    display: none;
}